#upload-section {
  width: 100%;
  display: flex;
  flex: 2;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(231, 229, 230, 255);
}

#upload-button {
  font-weight: bold;
  color: white;
  font-size: medium;
  font-family: sans-serif;

  background-color: rgb(32, 57, 138);
  border-radius: 8%;
  height: 45px;
  width: 150px;
  border-width: 0;
}

#content-wrapper {
  color: black;
  font-size: medium;
  font-family: Calibri;
}
