.option-content {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: larger;
}

.option-img {
  width: min-content;
  height: min-content;
}
@media screen and (max-width: 650px) {
  .option-img {
    width: 40%;
    height: 40%;
  }
}

.option-title {
  font-weight: bold;
  color: grey;
  font-size: large;
}
