.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  gap: 20px;
  padding: 20px;

  flex: 6;
}

.upload-option {
  background-color: rgba(231, 229, 230, 255);
  border-radius: 4%;
  width: 50%;
  height: 70%;
  flex: 3;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
