.option-content {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: larger;
}

.option-img {
  width: min-content;
  height: min-content;
}

.option-title {
  font-weight: bold;
  color: grey;
  font-size: large;
}
