.button-placement{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 100%;
 height: 80px;
 padding-top: 10px;
}

.video-screen {
 position: relative;
 padding-left: 5%;
 padding-right: 5%;
width: calc(75% - 10%);
}

