.logo{
    padding-top: 120px;
    text-align: center;
}

.sub-heading{
    padding-left: 370px;
}

#title{
    color: black;
    font-family:sans-serif;
    text-align: left;
    font-size: 18px;
}

.logoSection{
    background-color:white;
}