#upload-section {
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
  background-color: rgba(231, 229, 230, 255);
}

#upload-button {
  font-weight: bold;
  color: white;
  font-size: medium;
  font-family: sans-serif;

  background-color: rgb(51, 88, 211);
  border-radius: 8%;
  height: 45px;
  width: 150px;
  border-width: 0;
}

#content-wrapper {
  color: black;
  font-size: medium;
  font-family: Calibri;
}
